@import '/src/global.scss';
.page {
	background: white;
	padding: 40px 15px;
	margin: 0 auto;
	height: 100%;
	min-height: calc(100dvh - 100px);
	@media(max-width: 768px){
		padding: 20px 15px;
	}
}
.new {
	display: flex;
	justify-content: space-around;
}
.tasksContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
    padding: 0 50px;
	background: #f1ece6;
	border-radius: 50px;
	width: 100%;
	max-width: 1040px;
	min-height: 500px;
	height: 100%;
	margin-top: 40px;
	position: relative;
	@media(max-width: 768px){
		padding: 0 25px;
		min-height: 300px;
	}
}
.tasks{
}
.noTasks{
	margin: 0 auto;
	width: 100%;
	max-width: 1040px;
	height: 100%;
	margin-top: 40px;
    font: normal 600 38px $f;
}
.clear {
    display: flex;
    align-items: center;
	align-self: end;
    gap: 10px;
	border: none;
	background: transparent;
	padding: 20px 10px;
	width: fit-content;
	color: #d98326;
	font: normal 400 24px $f;
    cursor: pointer;
}
@media(max-width: 768px) {
	.clear svg{
		transform: scale(.5);
	}
	.clear{
		font: normal 400 16px $f;
	}
}
